*{
    margin: 0;
    padding: 0;
}
body{
    height: 3000px;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
    padding: 10px;
    margin-bottom: 50px;
}
#navbar a{
    text-decoration: none; 
    color: white;
    font-weight: bold;
}